[submodule "libraries/ILI9341_T4"]
	path = libraries/ILI9341_T4
	url = https://github.com/vindar/ILI9341_T4
[submodule "libraries/PXP"]
	path = libraries/PXP
	url = https://github.com/mjborgerson/PXP
[submodule "libraries/T4_PXP"]
	path = libraries/T4_PXP
	url = https://github.com/vjmuzik/T4_PXP
[submodule "lvgl"]
	path = libraries/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "libraries/spline"]
	path = libraries/spline
	url = https://github.com/ttk592/spline
[submodule "libraries/PID-Library"]
	path = libraries/PID-Library
	url = https://github.com/Majid-Derhambakhsh/PID-Library/
[submodule "libraries/gif"]
	path = libraries/gif
	url = https://github.com/bitbank2/AnimatedGIF
